/* selected tag{ property:value} */
h3{ font-family: arial;}

ol{ background-color: brown; 
    color: bisque;}

    ul{color: black;
         background-color: aqua;}

    body{ background-color: rgb(178, 255, 127);}

    .john{font-family:casteller;
    color: blueviolet;}


.bgs{text-align: center;}
#address{text-align: center;} 
